// COLORS
:root {
  --color-black: #000;
  --color-mine-shaft: #333;
  --color-white: #fff;
  --color-pomegranate: #e64c15;
  --color-blaze-orange: #ff640a;
  --color-dove-gray: #696969;
  --color-silver: #ccc;
  --color-alabaster: #fafafa;
  --color-aluminium: #a6a7aa;
  --color-shark: #303336;
  --color-god-gray: #171717;
  --color-silver-chalice: #a0a0a0;
}
